.titulo {
    font: normal 25px arial;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    color: white;
    
}

body {
    background-color: rgba(0, 174, 255, 0.61);
}

.container {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    align-items: center;
    width: 600px;
    margin: auto;
}

.inicio{
    font: normal 25px arial;
    padding: 3px;

}

.resultado {
    font: normal 25px arial;
}


input {
   
            padding: 8px; /* Espaçamento interno */
            margin-bottom: 10px; /* Margem inferior */
            margin-top: 10px;
            border: 1px solid #ccc; /* Borda cinza */
            border-radius: 4px; /* Bordas arredondadas */
            box-sizing: border-box; /* Faz com que o padding e a borda sejam incluídos na largura */
}