input {
    padding: 10px;
}

#txt {
    font: normal 20px Arial;
    margin-bottom: 10px;

}

h1 {
    font:50px arial;
}

#resultado {
    padding: 10px;
    margin-top: 70px;
    font: 20px arial;
}