.titulo {
    font: normal 25px arial;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    color: white;
    
}

body {
    background-color: rgba(0, 174, 255, 0.61);
}

.container {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    align-items: center;
}

.ano-nascimento {
    font: normal 20px arial;
    padding: 5px;

}

.sexo {
    font: normal 25px arial;
    padding: 5px ;
}