body {
    background-color: rgb(128, 43, 226);
    font: normal 20pt arial;

}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.534);
}

footer {
    text-align: center;
}

div {
    text-align: center;
    padding: 9px;

}

header h1 {
    font-family: 'Arial', sans-serif;
    font-size: 48px;
    color: #333; /* Cor do texto */
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px; /* Espaçamento entre letras */
    margin-top: 50px; /* Espaçamento superior */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
}

